[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pandas = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start="python manage.py runserver 0.0.0.0:8000"
